<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DipScooper.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DipScooper.UI.Properties.Settings>
            <setting name="NormalDipThreshold" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="BigDipThreshold" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="SuperDipThreshold" serializeAs="String">
                <value>23</value>
            </setting>
        </DipScooper.UI.Properties.Settings>
    </userSettings>
</configuration>